/* Base Styles */
body {
  font-family: 'Padauk', sans-serif;
  height: 100%;
}
h1, h2 {
  font-family: 'Padauk', sans-serif;
}
#mount {
  height: inherit;
}
::selection {
  background-color: #F44336;
  color: #fff;
}
.centered {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
a:active,
a:hover,
a:visited {
  color: #fff;
  text-decoration: none;
}
