/*================== BASE STYLES *==================*/
*::-webkit-media-controls-panel {
  display: none !important;
  -webkit-appearance: none;
}

*::--webkit-media-controls-play-button {
  display: none !important;
  -webkit-appearance: none;
}

*::-webkit-media-controls-start-playback-button {
  display: none !important;
  -webkit-appearance: none;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  font: normal 16px/1.5 "Montserrat", sans-serif;
  color: #222;
  margin-bottom: 116px;
}

/*================== HEADINGS *==================*/


/*================== FORMS *==================*/
.textfield, .select, .textarea {
  font: normal 16px/1.5 "Europa", sans-serif;
  background-color: #fff;
  border: 1px solid #CCC;
  margin: 7px 0;
  padding: 3px;
}

.textfield, .textarea {
  width: 100%;
}

/*================== BUTTONS *==================*/
.button {
  font-size: 16px;
  font-weight: 900;
  text-transform: uppercase;
  border-radius: 3px;
  padding: 12px 25px;
  display: inline-block;
  letter-spacing: 1px;
}

.full-width {
  display: block;
}

.button.primary {
  background-color: #0f4c61;
  color: #FFF;
}

.button.secondary {
  background-color: #ebebeb;
  color: #0f4c61;
}

/*================== HEADER *==================*/
.header {
  display: none;
}

.header-nav-link:hover .header-sub-nav {
  display: block;
}

.header-sub-nav {
  background: #fff;
  display: none;
  position: absolute;
  padding: 6px;
  top: 20px;
  left: 0;
  right: 0;
  box-shadow: 0 0 1px rgba(0, 0, 0, .5);
}

.header-sub-nav-link {
  font-size: 14px;
  color: #4F4F4F;
  display: block;
  text-decoration: none;
  text-transform: none;
  text-align: left;
}

.header-mobile {
  display: none;
}

@media (min-width: 1200px) {
  .header-container {
    background-color: transparent;
  }
  .header {
    display: flex;
  }
}

/*================== CARDS *==================*/
.card-heading {
  font-size: 14px;
  font-weight: bold;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
}

@media (min-width: 768px) {
  .card-heading {
    font-size: 20px;
  }
}

@media (min-width: 1200px) {
  .card-heading {
    font-size: 28px;
  }
}

.cards {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

@media (min-width: 768px) {
  .cards {
    flex-direction: row;
  }
}

@media (min-width: 1200px) {
  .cards {
    width: 1170px;
    margin: 20px auto;
  }
}

.card {
  margin: 20px;
  position: relative;
  flex: 1 1 auto;
}

@media (min-width: 768px) {
  .card {
    flex: 1;
  }
}

@media (min-width: 1200px) {
  .card:first-child {
    margin-left: 0;
  }
  .card:last-child {
    margin-right: 0;
  }
}

.card-overlay {
  background: rgba(0, 0, 0, .5);
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card:hover .card-overlay {
  background-color: rgba(0, 0, 0, .8);
  animation: fadeOut 1s ease-out;
}

@keyframes fadeOut {
	from { background-color: rgba(0, 0, 0, .5); }
	to { background-color: rgba(0, 0, 0, .8); }
}

.card-image {
  height: 100%;
}

/*================== LISTS *==================*/
.list {
  background-color: #efefef;
}

.list-container {
  display: flex;
  flex-direction: column;
  margin: 20px 0;
}

@media (min-width: 768px) {
  .list-container {
    flex-direction: row;
  }
}

@media (min-width: 1200px) {
  .list-container {
    width: 1170px;
    margin: 20px auto;
  }
}

.list-left, .list-right {
  flex: 1;
}

/*================== FOOTER *==================*/
.footer {
  background-color: #ebebeb;
  padding: 20px 0;
  margin: 20px 0 0;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
}

.copyright {
  font-size: 16px;
  color: #999;
  display: block;
}

/*================== VIDEO *==================*/
.video {
  height: 90vh;
  margin-left: -50%;
  margin-bottom: -6px;
}
@media (min-width: 1200px) {
  .video {
    width: 100%;
    height: auto;
    margin-left: 0;
    margin-bottom: 0;
  }
  .video-container {
    height: 90vh;
  }
}

/*================== CONTACT *==================*/
.contact {
  margin: 20px;
  display: flex;
  flex-direction: column;
}

.msg {
  font-size: 14px;
  margin: 12px 0;
}

.error {
  color: #CC0000;
}

.success {
  color: #006600;
}

.address {
  flex: 1;
}

.form {
  flex: 2;
}

@media (min-width: 768px) {
}

@media (min-width: 1200px) {
  .contact {
    width: 1170px;
    margin: 20px auto;
    flex-direction: row;
  }
}
