/*================== FEATURED ARTICLES *==================*/
.featured-articles-container {
    padding: 40px 0;
    display: grid;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    grid-auto-flow: row;
}

@media (min-width: 1024px) {
    .featured-articles-container {
        display: grid;
        grid-auto-flow: column;
        margin: 0 auto;
        width: 980px;
    }
}

@media (min-width: 1200px) {
    .featured-articles-container {
        width: 1170px;
    }
}

.featured-article-col {
    display: flex;
    flex-direction: column;
    padding: 0 20px;
}

@media (min-width: 1024px) {
    .featured-article-col {
        padding: 0;
    }
}

.featured-article-col .button {
    align-self: flex-start;
    margin-top: auto;
}

.featured-article-col-attachments {
    height: 600px;
    overflow: hidden;
}

.featured-article-col-attachment-image {
    width: 100%;
}

.featured-article-col-heading {
    color: #0073a2;
    font-weight: normal;
    letter-spacing: 1px;
    text-transform: uppercase;
}

/*================== FEATURED ARTICLE *==================*/

.featured-article-container {
    background-color: #0073a2;
    padding: 40px 0;
}

.featured-article {
    display: flex;
    padding: 0 20px;
    flex-direction: column;
}

@media (min-width: 1024px) {
    .featured-article {
        width: 980px;
        padding: 0;
        margin: 0 auto;
        flex-direction: row;
    }
}

@media (min-width: 1200px) {
    .featured-article {
        width: 1170px;
    }
}

.featured-article-attachments {
    flex: 1;
}

.featured-article-attachment-image {
    width: 100%;
}

.featured-article-text {
    flex: 1;
}

@media (min-width: 1024px) {
    .featured-article-text {
        margin-left: 40px;
    }
}

.featured-article-heading {
    font-size: 32px;
    letter-spacing: 1px;
    font-weight: normal;
    text-transform: uppercase;
    color: #fff;
}

.featured-article-text-excerpt {
    color: #fff;
}

/*================== ARTICLE *==================*/
.article-container {
    padding: 20px 0;
}

@media (min-width: 1024px) {
    .article-container {
        margin: 0 auto;
        width: 980px;
    }
}

@media (min-width: 1200px) {
    .article-container {
        width: 1170px;
    }
}