/*================== CARDS *==================*/

.cards {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

@media (min-width: 1024px) {
    .cards {
        width: 980px;
        margin: 20px auto;
        flex-direction: row;
    }
}

@media (min-width: 1200px) {
    .cards {
        width: 1170px;
    }
}

.card {
    margin: 20px;
    position: relative;
    flex: 1;
    opacity: 0;
    background-color: #fff;
    box-shadow: 0 0 30px rgba(0, 0, 0, .3);
}

.card.visible {
    opacity: 1;
    animation-name: fadein-bottom;
    animation-duration: .5s;
    animation-timing-function: ease-in-out;
    animation-delay: 1.75s;
    animation-fill-mode: both;
}

.card.visible:first-child {
    animation-delay: 1.5s;
}

@media (min-width: 1024px) {
    .card:first-child {
        margin-left: 0;
    }
    .card:last-child {
        margin-right: 0;
    }
}

.card-image-container {
    position: relative;
}

.card-image {
    width: 100%;
}

.card-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 40px;
    color: #fff;
}

.card-overlay:after {
    content: "";
    background-color: #fff;
    width: 150px;
    height: 3px;
    display: block;
    margin-top: 8px;
}

.card-overlay .card-heading {
    color: #fff;
    line-height: 1.5;
}

.card-heading {
    font-size: 32px;
    font-weight: 900;
    line-height: 1.5;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #0f4c61;
    margin: 0;
}

.card-sub-heading {
    font-size: 14px;
    font-weight: 300;
    line-height: 1.5;
    letter-spacing: 1px;
    margin: 0;
}

.card-content {
    font-size: 14px;
    font-weight: 400;
    padding: 20px;
}

.card-text {
    padding-bottom: 12px;
}