/*================== CENTERED TEXT WITH BACKGROUND *==================*/

.text-with-background-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text-with-background-blue {
    background-color: #0f4c61;
}

.text-with-background-gray {
    background-color: #666;
}

.text-with-background {
    flex: 1;
    position: relative;
    padding: 100px;
}

.text-with-background-cta {
    display: flex;
    justify-content: center;
}

.text-with-background-images {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    overflow-y: hidden;
}

.text-with-background-image {
    width: 100%;
}

.text-with-background-image-overlay {
    background-color: rgba(0, 0, 0, .5);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.text-with-background-heading {
    color: #fff;
    font-size: 42px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-align: center;
}

.text-with-background-text {
    color: #fff;
    font-weight: 300;
    font-size: 24px;
    text-align: center;
}

.text-with-background-heading+.text-with-background-text {
    font-size: 16px;
}