/*================== BASE STYLES *==================*/

*::-webkit-media-controls-panel {
    display: none !important;
    -webkit-appearance: none;
}

*::--webkit-media-controls-play-button {
    display: none !important;
    -webkit-appearance: none;
}

*::-webkit-media-controls-start-playback-button {
    display: none !important;
    -webkit-appearance: none;
}

a:link,
a:active,
a:visited {
    color: #0f4c61;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
    color: #222;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    font: normal 16px/1.5 "Montserrat", sans-serif;
    color: #222;
    margin-bottom: 580px;
    overflow-x: hidden;
}

@media (min-width: 1024px) {
    body {
        margin-bottom: 265px;
    }
}

/*================== FORMS *==================*/

.textfield,
.select,
.textarea {
    font: normal 16px/1.5 "Europa", sans-serif;
    background-color: #fff;
    border: none;
    margin: 7px 0;
    padding: 7px;
    display: block;
}

.textfield,
.textarea {
    width: 100%;
    border-radius: 3px;
}

.textarea {
    min-height: 200px;
}

/*================== HEADERS *==================*/

.header {
    display: none;
}

.header-mobile {
    display: none;
}

.mobile-menu-link {
    position: fixed;
    top: 12px;
    right: 12px;
    z-index: 3;
}

@media (min-width: 1200px) {
    .header-container {
        position: sticky;
        top: 0;
        background-color: rgba(255, 255, 255, .7);
        z-index: 3;
    }
    .header {
        display: flex;
    }
    .mobile-menu-link {
        display: none;
    }
}

/*================== BUTTONS *==================*/

.button {
    font-size: 16px;
    font-weight: 900;
    text-transform: uppercase;
    border-radius: 3px;
    padding: 8px 25px;
    display: inline-block;
    letter-spacing: 1px;
    text-decoration: none;
    border: none;
    cursor: pointer;
}

.full-width {
    display: block;
}

.button.primary {
    background-color: transparent;
    border: 1px solid #0f4c61;
    border-radius: 3px;
    color: #0f4c61;
}

.button.primary:hover {
    border: 1px solid #0F4C5F;
    color: #0F4C5F;
}

.button.secondary {
    background-color: transparent;
    border: 1px solid #fff;
    border-radius: 3px;
    color: #fff;
}

.button.secondary:hover {
    border: 1px solid #eee;
    color: #eee;
}

/*================== SUBPAGE HERO *==================*/

@media (min-width: 1024px) {
    .subpage-hero-heading {
        text-align: left !important;
        font-size: 48px !important;
    }
    .subpage-hero {
        width: 980px;
        align-items: flex-start !important;
    }
}

@media (min-width: 1200px) {
    .subpage-hero {
        width: 1170px;
    }
}

/*================== CENTERED TEXT WITH BACKGROUND *==================*/

.text-with-background-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text-with-background-blue {
    background-color: #0f4c61;
}

.text-with-background-gray {
    background-color: #666;
}

.text-with-background {
    flex: 1;
    position: relative;
    padding: 100px;
}

.text-with-background-cta {
    display: flex;
    justify-content: center;
}

.text-with-background-images {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    overflow-y: hidden;
}

.text-with-background-heading {
    color: #fff;
    font-size: 42px;
    font-weight: normal;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-align: center;
}

.text-with-background-text {
    color: #fff;
    font-weight: 300;
    font-size: 24px;
    text-align: center;
    white-space: pre-wrap;
}

.text-with-background-heading+.text-with-background-text {
    font-size: 16px;
}

/*================== LEFT ALIGNED TEXT CARD *==================*/

.left-card-container,
.left-card {
    position: relative;
}

.left-card {
    display: flex;
    flex-direction: column;
}

.left-card-text-container {
    padding: 0 20px 40px;
    flex: 1;
    background-color: #fff;
    position: relative;
    z-index: 2;
    order: 2;
}

.left-card-alt {
    background: transparent;
}

.left-card-alt .left-card-heading,
.left-card-alt .left-card-text {
    color: #fff;
}

.left-card-image-container {
    flex: 1;
    position: relative;
    order: 1;
}

.left-card-background-images {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    overflow-y: hidden;
}

.left-card-image {
    width: 100%;
    align-self: center;
    position: relative;
    z-index: 1;
}

.left-card-heading {
    font-size: 32px;
    font-weight: 600;
    line-height: 1.25;
    text-transform: uppercase;
    color: #0f4c61;
}

.left-card-text {
    white-space: pre-wrap;
}

@media (min-width: 1024px) {
    .left-card {
        flex-direction: row;
        margin: 0 auto;
        width: 980px;
    }
    .left-card-text-container {
        order: 1;
        padding: 100px 0;
    }
    .left-card-image-container {
        order: 2;
        display: flex;
    }
    .left-card-text,
    .left-card-heading {
        padding-right: 20px;
    }
    .left-card-background-image {
        width: 100%;
    }
}

@media (min-width: 1200px) {
    .left-card {
        width: 1170px;
    }
}

/*================== RIGHT ALIGNED TEXT CARD *==================*/

.right-card-container {
    position: relative;
}

.right-card {
    display: flex;
    position: relative;
    flex-direction: column;
}

.right-card-heading {
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 32px;
    font-weight: 600;
}

.right-card-alt .right-card-heading {
    color: #0f4c61;
}

.right-card-text-container {
    width: 50%;
    color: #fff;
    padding: 0 20px 40px;
    white-space: pre-wrap;
}

.right-card-text {
    padding-bottom: 20px;
}

.right-card-alt .right-card-text {
    color: #222;
}

.right-card-images {
    width: 50%;
    position: relative;
}

.right-card-image {
    width: 100%;
    position: relative;
    align-self: center;
}

.right-card-background-images {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    overflow-y: hidden;
}

.right-card-alt .right-card-background-images {
    left: auto;
}

@media (min-width: 1024px) {
    .right-card {
        margin: 0 auto;
        width: 980px;
        flex-direction: row;
    }
    .right-card-text-container {
        padding: 100px 0;
    }
    .right-card-images {
        display: flex;
    }
}

@media (min-width: 1200px) {
    .right-card {
        width: 1170px;
    }
}

/*================== GRIDS *==================*/

.grid-container {
    position: relative;
}

.grid-container-image {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.grid-image {
    height: 100%;
}

.grid-image-overlay {
    background-color: rgba(0, 0, 0, .5);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.grid {
    position: relative;
    z-index: 1;
    padding: 60px 20px;
}

@media (min-width: 1024px) {
    .grid {
        width: 980px;
        margin: 0 auto;
        padding: 60px 0;
    }
}

@media (min-width: 1200px) {
    .grid {
        width: 1170px;
    }
}

.grid-heading {
    color: #FFF;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 32px;
    font-weight: 600;
    margin: 0 0 20px;
}

.grid-content {
    color: #FFF;
    font-size: 16px;
    margin-bottom: 40px;
}

.grid-cta {
    text-align: center;
}

.col-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 60px 0;
    margin-bottom: 40px;
}

@media (min-width: 1024px) {
    .col-container {
        flex-direction: row;
    }
}

@media (min-width: 1024px) {
    .col-wrapper {
        width: 33.3333%;
    }
}

.col:first-child,
.col:nth-child(2),
.col:nth-child(3) {
    border-top: 1px solid #FFF;
}

.col {
    background-color: #0f4c61;
    border: 1px solid #FFF;
    display: flex;
    height: 150px;
    padding: 20px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.col-gray {
    background-color: #56575A;
    border: 1px solid #FFF;
    text-align: center;
    padding: 20px;
    height: 150px;
}

.col-gray-content {
    color: #FFF;
    font-size: 14px;
}

.col-icon {
    color: #82BAD0;
    font-size: 64px;
    padding-bottom: 10px;
}

.col-heading {
    font-size: 18px;
    font-weight: bold;
    line-height: 1.25;
    color: #FFF;
    margin: 0;
}

/*================== CARDS *==================*/

.cards {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

@media (min-width: 1024px) {
    .cards {
        width: 980px;
        margin: 20px auto;
        flex-direction: row;
    }
}

@media (min-width: 1200px) {
    .cards {
        width: 1170px;
    }
}

.card {
    margin: 20px;
    position: relative;
    flex: 1;
    background-color: #fff;
    box-shadow: 0 0 30px rgba(0, 0, 0, .3);
}

@media (min-width: 1024px) {
    .card:first-child {
        margin-left: 0;
    }
    .card:last-child {
        margin-right: 0;
    }
}

.card-image-container {
    position: relative;
}

.card-image {
    width: 100%;
}

.card-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 40px;
    color: #fff;
}

.card-overlay:after {
    content: "";
    background-color: #fff;
    width: 150px;
    height: 3px;
    display: block;
    margin-top: 8px;
}

.card-overlay .card-heading {
    color: #fff;
    line-height: 1.5;
}

.card-heading {
    font-size: 32px;
    font-weight: 900;
    line-height: 1.5;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #0f4c61;
    margin: 0;
}

.card-sub-heading {
    font-size: 14px;
    font-weight: 300;
    line-height: 1.5;
    letter-spacing: 1px;
    margin: 0;
}

.card-content {
    font-size: 14px;
    font-weight: 400;
    padding: 20px;
}

.card-text {
    white-space: pre-line;
    padding-bottom: 12px;
}

/*================== CARDS WITH BACKGROUND *==================*/

.cards-with-bg {
    position: relative;
}

.cards-with-bg-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background-size: cover !important;
    height: 600px;
}

.cards-with-bg-heading {
    color: #fff;
    padding: 40px 20px;
    font-size: 42px;
    text-transform: uppercase;
    position: relative;
    z-index: 1;
}

.cards-with-bg-heading:after {
    content: "";
    display: block;
    width: 132px;
    height: 4px;
    background-color: #fff;
    margin: 20px 0;
}

@media (min-width: 1024px) {
    .cards-with-bg-heading {
        width: 980px;
    }
}

@media (min-width: 1200px) {
    .cards-with-bg-heading {
        width: 1170px;
    }
}

/*================== CARDS WITH HEADERS *==================*/

.cards-header {
    text-align: center;
    background: transparent;
    color: #0f4c61;
    font-size: 42px;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.cards-header img {
    width: 50px;
    margin: 0 20px;
}

.cards-with-header-cta {
    margin: 40px 0;
    display: flex;
    justify-content: center;
}

@media (min-width: 1024px) {
    .cards-header {
        flex-direction: row;
    }
}

/*================== FOOTER *==================*/

.footer {
    background-color: #ebebeb;
    padding: 20px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
}

@media (min-width: 1024px) {
    .footer-container {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        margin: 0 auto;
        width: 980px;
    }
}

@media (min-width: 1200px) {
    .footer-container {
        width: 1170px;
    }
}

.copyright-text {
    font-size: 16px;
    font-weight: 300;
    color: #999;
    display: block;
}

.copyright-logo {
    height: 40px;
    margin-bottom: 20px;
}

.footer-links {
    display: flex;
    flex: 1;
    justify-content: space-between;
    margin: 20px 0;
    flex-direction: column;
}

@media (min-width: 1024px) {
    .footer-links {
        margin: 0 100px;
        flex-direction: row;
    }
}

.footer-links a:active,
.footer-links a:visited,
.footer-links a:link {
    font-weight: 600;
    text-transform: uppercase;
}

.social-media-links a {
    margin: 0 5px;
}

.social-media-links a:first-child,
.social-media-links a:last-child {
    margin: 0;
}

.social-media-links img {
    width: 16px;
}

.footer-associations {
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid #999;
}

.footer-association-logo {
    margin: 0 0 20px;
}

.footer-bottom {
    padding-top: 20px;
}

@media (min-width: 1024px) {
    .footer-associations {
        display: flex;
        justify-content: center;
    }

    .footer-association-logo {
        margin: 0;
    }
}

/*================== VIDEO *==================*/

.video {
    height: 90vh;
}

.video-hr {
    margin: 20px auto !important;
}

.video-overlay-container {
    width: 100% !important;
}

.video-cta {
    width: 100% !important;
    text-align: center;
    animation-name: fadein-right;
    animation-duration: .5s;
    animation-timing-function: ease-in;
    animation-iteration-count: 1;
    animation-delay: .75s;
    animation-fill-mode: both;
    opacity: 0;
}

@media (min-width: 1200px) {
    .video-overlay-container {
        width: 1170px !important;
    }
    .video-cta {
        width: 400px !important;
        text-align: left;
    }
    .video {
        width: 100%;
        height: auto;
        margin-left: 0;
        margin-bottom: 0;
    }
    .video-container {
        height: 90vh;
    }
    .video-hr {
        margin: 20px 0 !important;
    }
}

/*================== MODAL *==================*/
.modal-wrapper {
    background-color: rgba(0, 0, 0, .25);
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 2;
}

.modal {
    background-color: #fff;
    margin: 20% auto;
    width: 380px;
    position: relative;
    border-radius: 8px;
    padding: 12px;
}

.modal-heading {
    margin-top: 0;
}

/*================== ANIMATIONS *==================*/
@keyframes fadein {
	from {
        opacity: 0;
    }
	to {
        opacity: 1;
    }
}

@keyframes fadein-right {
	from {
        transform: translateX(300px);
        opacity: 0;
	}
	to {
        transform: translateX(0);
        opacity: 1;
	}
}

@keyframes fadein-zoomin {
	from {
        transform: scale(1.8);
        opacity: 0;
	}
	to {
        transform: scale(1.4);
        opacity: 1;
	}
}

@keyframes fadein-left {
	from {
        transform: translateX(0);
        opacity: 0;
	}
	to {
        transform: translateX(300px);
        opacity: 1;
	}
}

@keyframes reveal-right {
	from {
        max-width: 0px;
    }
	to {
        max-width: 485px;
    }
}

@keyframes reveal-left {
	from {
        max-width: 0px;
    }
	to {
        max-width: 585px;
    }
}

@keyframes fadein-bottom {
	from {
        transform: translateY(200px);
        opacity: 0;
	}
	to {
        transform: translateY(0);
        opacity: 1;
	}
}

@keyframes reveal-btm {
	from {
        max-height: 0px;
    }
	to {
        max-height: 500px;
    }
}

@keyframes text-color {
	0% {
	    color: #ffffff;
	}
	100% {
	    color: #0072a2;
	}
}

@keyframes text-color-rvrs {
	0% {
	    color: #0072a2;
	}
	100% {
	    color: #ffffff;
	}
}

@keyframes fill-in {
	0% {
	    width: 0%;
	}
	100% {
	    width: 100%;
	}
}

@keyframes hollow-out {
	0% {
        width: 100%;
        right: 100%;
	}
	100% {
        width: 0%;
        right: 0;
	}
}

@keyframes pass-through {
	0% {
	    width: 0%;
	}
	100% {
	    width: 100%;
	}
}