#experience-on-your-side {
	position: relative;
}

#experience-on-your-side h3 span {
	display: block;
	background-color: #ffffff;
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	z-index: 1;
	transition: right .5s ease-in .5s;
	will-change: right;
}

#experience-on-your-side h3 {
	z-index: 0;
}

#experience-on-your-side h3 .invisible {
	right: 0;
}

#experience-on-your-side h3 .visible {
	right: 100%;
}

#experience-on-your-side .left-card-image.invisible {
	opacity: 0;
}

#compliance {
	height: 500px;
}

#compliance h3 {
	position: relative;
	color: #fff;
	z-index: 1;
	overflow: hidden;
	white-space: pre;
	margin-bottom: 0;
}

#compliance h3.invisible {
	max-width: 0px;
}

#compliance h3.visible {
	max-width: 400px;
	animation-name: reveal-right;
	animation-duration: .5s;
	animation-timing-function: ease-in;
	animation-iteration-count: 1;
	animation-delay: 2s;
	animation-fill-mode: both;
}

#compliance .right-card-text {
	position: relative;
	color: #fff;
	z-index: 1;
	overflow: hidden;
}

#compliance .right-card-text.invisible {
	max-height: 0;
}

#compliance .right-card-text.visible {
	max-height: 500px;
	animation-name: reveal-btm;
	animation-duration: .5s;
	animation-timing-function: ease-in;
	animation-iteration-count: 1;
	animation-delay: 2s;
	animation-fill-mode: both;
}

#advocacy {
	height: 494px;
}

#advocacy .left-card-background-images {
	overflow: hidden;
}

#advocacy .left-card-background-image {
	height: 100%;
	width: 100%;
	object-fit: contain;
}

#advocacy .left-card-background-image.invisible {
	opacity: 0;
}

#advocacy .left-card-background-image.visible {
	animation-name: fadein-zoomin;
	animation-duration: .5s;
	animation-timing-function: ease-in;
	animation-iteration-count: 1;
	animation-delay: 0;
	animation-fill-mode: both;
}

#advocacy h3 {
	position: relative;
	color: #fff;
	overflow: hidden;
	height: 40px;
}

#advocacy h3 span {
	position: absolute;
	white-space: pre;
	right: 0;
	top: 0;
	width: 100%;
}

@media (max-width: 1200px) {
	#advocacy h3 span {
		position: relative;
		white-space: normal;
	}
}

@media (max-width: 1023px) {
	#advocacy h3 {
		height: auto;
	}
	#advocacy h3 span {
		position: relative;
		white-space: normal;
	}
}

@media (min-width: 1024px) {
	#advocacy .left-card-background-image {
		object-fit: cover;
	}
}

@media (max-width: 480px) {
	#advocacy img.left-card-background-image {
		height: 100%;
		width: auto;
		object-fit: cover;
	}
}

#advocacy h3 span.invisible {
	width: 0;
}

#advocacy h3 span.visible {
	width: 585px;
	animation-name: reveal-left;
	animation-duration: .5s;
	animation-timing-function: ease-in;
	animation-iteration-count: 1;
	animation-delay: 2s;
	animation-fill-mode: both;
}

#advocacy .left-card-text {
	position: relative;
	color: #fff;
	z-index: 1;
	overflow: hidden;
	white-space: normal;
}

#advocacy .left-card-text.invisible {
	max-height: 0px;
}

#advocacy .left-card-text.visible {
	max-height: 500px;
	animation-name: reveal-btm;
	animation-duration: .5s;
	animation-timing-function: ease-in;
	animation-iteration-count: 1;
	animation-delay: 2.5s;
	animation-fill-mode: both;
}

#labor-relations > span {
	display: block;
	background-color: #ffffff;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	z-index: 98;
	transition: right .5s ease-in 2s;
	will-change: right;
}

#labor-relations > .invisible {
	right: 0;
}

#labor-relations > .visible {
	right: 100%;
}

#labor-relations .right-card-images {
	min-height: 654px;
}

#labor-relations .right-card-image.invisible {
	opacity: 0;
}

#labor-relations .right-card-image.visible {
	opacity: 1;
	animation-name: fadein-bottom;
	animation-duration: .5s;
	animation-timing-function: ease-in;
	animation-iteration-count: 1;
	animation-delay: 2s;
	animation-fill-mode: both;
	}

#labor-relations h3 {
	position: relative;
	overflow: hidden;
	white-space: pre;
	margin-bottom: 0;
}

#labor-relations h3.invisible {
	max-width:0px;
}

#labor-relations h3.visible {
	max-width: 400px;
	animation-name: reveal-right;
	animation-duration: .5s;
	animation-timing-function: ease-in;
	animation-iteration-count: 1;
	animation-delay: 2s;
	animation-fill-mode: both;
}

#labor-relations .right-card-text {
	position: relative;
	z-index: 1;
	overflow: hidden;
}

#labor-relations .right-card-text.invisible {
	max-height: 0;
}

#labor-relations .right-card-text.visible {
	max-height: 500px;
	animation-name: reveal-btm;
	animation-duration: .5s;
	animation-timing-function: ease-in;
	animation-iteration-count: 1;
	animation-delay: 2.5s;
	animation-fill-mode: both;
}

@media (max-width: 1023px) {
	#labor-relations h3,
	#labor-relations .right-card-text {
		white-space: normal;
	}
	#labor-relations .right-card-images {
		min-height: auto;
	}
}

#public-affairs {
	height: 494px;
}

#public-affairs .left-card-background-images {
	overflow: hidden;
}

#public-affairs h3 {
	position: relative;
	color: #fff;
	overflow: hidden;
	height: 40px;
}

#public-affairs h3 span {
	position: absolute;
	white-space: pre;
	right: 0;
	top: 0;
	width: 100%;
}

@media (max-width: 1200px) {
	#public-affairs h3 span {
		position: relative;
		white-space: normal;
	}
}

@media (max-width: 1023px) {
	#public-affairs h3 {
		height: auto;
	}
	#public-affairs h3 span {
		position: relative;
		white-space: normal;
	}
}
