/*================== WORLD CLASS SUPPORT *==================*/
#world-class-supply-chain-support {
	position: relative;
}

#world-class-supply-chain-support .left-card-image.visible {
  opacity: 1;
  animation-name: fadein-bottom;
  animation-duration: .5s;
  animation-timing-function: ease-in;
  animation-iteration-count: 1;
  animation-delay: 1.5s;
  animation-fill-mode: both;
}

#world-class-supply-chain-support .left-card-image.invisible {
	opacity: 0;
}

#world-class-supply-chain-support .swipe {
	display: block;
	background-color: #ffffff;
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	z-index: 100;
	transition: left .5s ease-in 1s;
	will-change: left;
}

#world-class-supply-chain-support .swipe.visible {
	left: 100%;
}

/*================== RELATIONSHIPS THAT DRIVE SUCCESS *==================*/
#relationships-that-drive-success {
	height: 700px;
}

#relationships-that-drive-success .right-card-heading {
	max-width: 0px;
	overflow: hidden;
	white-space: pre-wrap;
	max-height: 96px;
}

#relationships-that-drive-success .right-card-heading.visible {
	max-width: 400px;
	animation-name: reveal-right;
	animation-duration: .5s;
	animation-timing-function: ease-in;
	animation-iteration-count: 1;
	animation-delay: 1.5s;
	animation-fill-mode: both;
}

#relationships-that-drive-success .right-card-text {
	overflow: hidden;
	max-height: 0;
}

#relationships-that-drive-success .right-card-text-content {
	white-space: pre-wrap;
	padding-bottom: 20px;
}

#relationships-that-drive-success .right-card-text.visible {
	max-height: 500px;
	animation-name: reveal-btm;
	animation-duration: .5s;
	animation-timing-function: ease-in;
	animation-iteration-count: 1;
	animation-delay: 2s;
	animation-fill-mode: both;
}

/*================== CONSULTING *==================*/
#consulting.card,
#distribution.card {
	opacity: 0;
}

#consulting.card.visible,
#distribution.card.visible {
	opacity: 1;
	animation-name: fadein-bottom;
	animation-duration: .5s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: 1;
	animation-delay: 1.5s;
	animation-fill-mode: both;
}

/*================== IT STARTS WITH LEADERSHIP *==================*/
#it-starts-with-leadership .left-card-background-image {
	height: 100%;
	width: 100%;
	object-fit: contain;
	height: 494px;
}

#it-starts-with-leadership .left-card-background-image {
	opacity: 0;
}

#it-starts-with-leadership .left-card-background-image.visible {
	animation-name: fadein-zoomin;
	animation-duration: .5s;
	animation-timing-function: ease-in;
	animation-iteration-count: 1;
	animation-delay: 0;
	animation-fill-mode: both;
	opacity: 1;
}

#it-starts-with-leadership .left-card-heading {
	position: relative;
	color: #fff;
	overflow: hidden;
	height: 86px;
}

#it-starts-with-leadership .left-card-heading .swipe {
	position: absolute;
	white-space: pre;
	right: 0;
	top: 0;
	width: 0;
}

@media (max-width: 1200px) {
	#it-starts-with-leadership .left-card-heading .swipe {
		position: relative;
		white-space: normal;
	}
}

@media (max-width: 1023px) {
	#it-starts-with-leadership .left-card-heading {
		height: auto;
	}

	#it-starts-with-leadership .left-card-heading .swipe {
		position: relative;
		white-space: normal;
	}
}

@media (min-width: 1024px) {
	#it-starts-with-leadership .left-card-background-image {
		object-fit: cover;
	}
}

@media (max-width: 480px) {
	#it-starts-with-leadership .left-card-background-image {
		height: 100%;
		width: auto;
		object-fit: cover;
	}
}

#it-starts-with-leadership .left-card-heading .swipe {
	width: 585px;
	animation-name: reveal-left;
	animation-duration: .5s;
	animation-timing-function: ease-in;
	animation-iteration-count: 1;
	animation-delay: 1s;
	animation-fill-mode: both;
}

#it-starts-with-leadership .left-card-text {
	position: relative;
	z-index: 1;
	overflow: hidden;
}

#it-starts-with-leadership .left-card-text {
	max-height: 0px;
}

#it-starts-with-leadership .left-card-text.visible {
	max-height: 500px;
	animation-name: reveal-btm;
	animation-duration: .5s;
	animation-timing-function: ease-in;
	animation-iteration-count: 1;
	animation-delay: 1.5s;
	animation-fill-mode: both;
}

/*================== A VISION FOR SUCCESS *==================*/
#a-vision-for-success-in-cannabis .right-card-images {
	min-height: 654px;
}

#a-vision-for-success-in-cannabis .right-card-image {
	opacity: 0;
}

#a-vision-for-success-in-cannabis .right-card-image.visible {
	opacity: 1;
	animation-name: fadein-bottom;
	animation-duration: .5s;
	animation-timing-function: ease-in;
	animation-iteration-count: 1;
	animation-delay: 1s;
	animation-fill-mode: both;
}

#a-vision-for-success-in-cannabis h3 {
	position: relative;
	overflow: hidden;
	white-space: pre;
	margin-bottom: 0;
}

#a-vision-for-success-in-cannabis h3.invisible {
	max-width: 0px;
}

#a-vision-for-success-in-cannabis h3.visible {
	max-width: 400px;
	animation-name: reveal-right;
	animation-duration: .5s;
	animation-timing-function: ease-in;
	animation-iteration-count: 1;
	animation-delay: 1.5s;
	animation-fill-mode: both;
}

#a-vision-for-success-in-cannabis .right-card-text {
	position: relative;
	z-index: 1;
	overflow: hidden;
	white-space: pre;
}

#a-vision-for-success-in-cannabis .right-card-text.invisible {
	max-height: 0;
}

#a-vision-for-success-in-cannabis .right-card-text.visible {
	max-height: 500px;
	animation-name: reveal-btm;
	animation-duration: .5s;
	animation-timing-function: ease-in;
	animation-iteration-count: 1;
	animation-delay: 1.5s;
	animation-fill-mode: both;
}

@media (max-width:1023px) {
	#a-vision-for-success-in-cannabis h3, #a-vision-for-success-in-cannabis .right-card-text {
		white-space: normal;
	}
	#a-vision-for-success-in-cannabis .right-card-images {
		min-height: auto;
	}
}

#a-vision-for-success-in-cannabis .button {
	z-index: 2;
	display: inline-block !important;
	color: #0072a2;
	margin-left: 0;
}

#a-vision-for-success-in-cannabis.button.invisible {
	opacity: 0;
}

#a-vision-for-success-in-cannabis .button.visible {
	animation-name: btn-fadein, text-color;
	animation-duration: 1s, .5s;
	animation-timing-function: ease-in;
	animation-iteration-count: 1;
	animation-delay: 1s, 1.5s;
	animation-fill-mode: both;
}

#a-vision-for-success-in-cannabis .button:after {
	width: 0%;
	height: 100%;
	top: 0;
	left: 0;
	right: 0;
	background: #fff;
}

#a-vision-for-success-in-cannabis .button.btn1.invisible:after {
	width: 0;
}

#a-vision-for-success-in-cannabis .button.btn1.visible:after {
	animation-name: fill-in;
	animation-duration: .5s;
	animation-timing-function: ease-in;
	animation-iteration-count: 1;
	animation-delay: 1.5s;
	animation-fill-mode: both;
}

#a-vision-for-success-in-cannabis .button.btn1.is-visible:before {
	animation-name: hollow-out;
	animation-duration: .5s;
	animation-timing-function: ease-in;
	animation-iteration-count: 1;
	animation-delay: 3s;
	animation-fill-mode: both;
}

#a-vision-for-success-in-cannabis .button:hover,
#a-vision-for-success-in-cannabis .button:active {
	color: #0072a2;
}

#a-vision-for-success-in-cannabis .button:hover:after,
#a-vision-for-success-in-cannabis .button:active:after {
	width: 100%;
}
